* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
body {
font-size: 16px;
font-family: 'Roboto', sans-serif;
color: #ffffff;
font-weight: normal;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.page_wrapper {
  background: #849d8f;
}
.change-checkbox {
  display: none;
}
.container {
 margin: 0 auto;
 width: 1200px;
 padding: 0 27px;
 padding-bottom: 40px;
 position: relative;
}
.containter-header {
  min-height: 80px;
  position: relative;
}
.main-navigation {
 float: left;
 margin-top: 10px;
}
.nav {
  display: flex;
  align-items: center;
}
ul.nav li {
margin-right: 20px;
}

a.user {
  margin-left: 10px;
  padding: 10px;
  background-color: #a0b5a9;
  border-radius: 50px;
}

.user-block {
float: right;
margin-top: 20px;
}
.user-block > a {
  display: inline-flex;
  align-items: center;
  background-color: #a0b5a9;
  border-radius: 100px;
  height: 32px;
}

.user-search {
  width: 32px;
  justify-content: center;
}

.user-login {
  width: 93px;
  justify-content: center;
  padding-left: 35px;
  display: block;
}
.user-search::before {
  content: "";
  display: table;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/search.png") no-repeat;
  right: 270px;
}
.user-login::before {
  content: "";
  display: table;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/enter.png") no-repeat;
  right: 220px;
}

.user-cart {
  width: 117px;
  padding-left: 45px;
  display: block;

}
.user-cart::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/basket.png") no-repeat;
    right: 110px;
}

/*.work {
 width: 170px;
 height: 40px;
 top: 75px;
 right: 27px;
}


.slide {
  background: url("../img/fon-1.jpg")
}
*/
.sale {
  padding-top: 40px;
}
.sale-item {
  width: 560px;
  border-radius: 20px;
}
.sale-left {
  background-image: url("../img/malinka.jpg");
  float: left;
  min-height: 230px;
}
.sale-right {
  float: right;
  background: url("../img/chocolate.jpg");
  background-color: blue;
  background-position: 50% 50%;
  min-height: 230px;
}
h2 {
margin-left: 20px;
font-size: 35px;
margin-top: 15px;
line-height: 44px;
}
p.sale_p {
  margin-left: 20px;
  margin-top: 15px;
  width: 520px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
a.btn {
  padding: 10px 5px;
  background-color: #e9563a;
  border-radius: 30px;
  float: right;
  margin-right: 22px;
  margin-top: 40px;
  min-height: 45px;
  width: 165px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.sale-right a.btn {
  width: 190px;
  min-height: 45px;
}


article {
  width: 267px;
  min-height: 330px;
  display: inline-block;
  margin-top: 40px;
  margin-right: 20px;

}
article:last-of-type {
  margin-right: 0;

}
.catalog-item__image {
position: relative;

}
p.about-icecream {
  margin-top: 15px;
  text-align: center;
  line-height: 22px;

}
span.price {
  position: absolute;
  top: 210px;
  font-size: 45px;
}

.img_hit {
  border-radius: 50px;
  position: absolute;
  top: 0px;
}
.img_ice {
  border-radius: 135px;
}





.about-us {
  margin-top: 40px;
  height: 310px;
  background-image: url("../img/waffle.jpg");
  border-radius: 20px;
}
h3 {
margin-left: 20px;
padding-top: 30px;
font-size: 24px;
width: 1100px;
color: black;
}

.why-we-left {
  float: left;
  margin-left: 20px;
}
.why-we-right {
  float: right;
  margin-right: 20px;
}

.dominate_img {
  float: left;
  margin-top: 10px;
}
.dominate_p {
  color: black;
  margin-top: 25px;
  float: right;
  width: 480px;
  font-size: 16px;
  margin-left: 10px;
  line-height: 1.4;
}
.dominate_img_bot {
  padding-top: 30px;
}
.dominate_p_under {
margin-top: 20px;
}


.news-mail {
    min-height: 220px;
    margin-top: 40px;
}
.news {
  background: url("../img/klubnika.jpg");
  float: left;
  min-height: 220px;
}
h6 {
  color: black;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 30px;
}
p.news-text {
width: 300px;
font-size: 22px;
font-weight: bold;
margin-left: 20px;
margin-top: 10px;
}
p > a {
  color: black;
  text-decoration: underline;
}

.mail {
  background: url("../img/mail-fon.jpg");
  float: right;
  background-color: green;
  min-height: 220px;
}
.under_mail {
   margin: 5px;
   padding: 15px;
   min-height: 210px;
   border-radius: 20px;
   background: url("../img/mail-fon2.jpg");
}
.mail_p {
  color: black;
  padding-top: 15px;
  padding-left: 5px;
}
form {
  padding-left: 5px;
  padding-top: 40px;
}
input[type] {
  padding: 10px;
  width: 360px;
}
button.btn {
  padding: 12px 21px;
  background-color: #e9563a;
  border-radius: 30px;
  font-weight: 700;
  margin-left: 10px;
  border-color: #e9563a;
}


section.map {
  height: 430px;
  position: relative;
  background: url("../img/map.jpg");
  width: 1200px;
  margin: 0 auto;

}
.address {
  position: absolute;
  right: 26px;
  top: 68px;
  width: 308px;
  height: 300px;
  padding-top: 30px;
  padding-left: 25px;
  border-radius: 10px;
  background-color: #ffffff;
}
.span_address {
  width: 200px;
  font-size: 14px;
  color: gray;
}
.map_address {
  padding-top: 5px;
  font-weight: bold;
  font-size: 16px;
  width: 240px;
  color: black;
}
.btn_map {
  line-height: 44px;
  padding: 15px 35px;
  background-color: #e9563a;
  color: #ffffff;
  border-radius: 30px;
  padding-left: 40px;

}
.work {
  padding-top: 20px;
}
.work-time {
  color: gray;
  padding-top: 10px;
}
.work-number {
  color: black;
  padding-top: 10px;
  font-weight: 600;
}
.form {
  padding-top: 25px;
  padding-left: 7px;
}

.container-footer {
  display: flex;
  justify-content: center;

}
section.footer-social {
margin-top: 35px;
margin-bottom: 30px;
margin-right: 200px;
}
ul.social li {
  display: inline-block;
  margin-right: 10px;
}
.reference {
  margin-right: 225px;

}
.copyright {
margin-top: 25px;
padding-left: 50px;
}
