body {
 font-size: 16px;
 font-family: "Roboto", "Arial", sans-serif;
 color: #ffffff;
 font-weight: normal;
 background: #849d8f;
}

.clearfix::after {
 content: "";
 display: table;
 clear: both;
}

.container {
 margin: 0 auto;
 width: 1200px;
 padding: 0 27px;
 position: relative;
}

.containter-header {
  position: relative;
}

.main-navigation {
 float: left;
 margin-right: 7px;
 margin-top: -5px;
 position: relative;
}

.ul_nav {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  margin-left: -15px;
  margin-top: 16px;
  list-style: none;
}

.ul_nav > li > a {
  font-size: 16px;
  line-height: 18px;
  border-radius: 20px;
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
}
.on_page > a {
  background-color: #eb7257;
}
.ul_nav span {
  border-bottom: 2px solid rgba(169,191,179, 0.5);
}

.ul_nav > li:not(:nth-of-type(-n+2)) > a:hover {
  background-color: #f7f6f3;
  color: black;
  z-index: 2;
}
li:nth-child(2) a:active {
  box-shadow: inset 0 2px 2px rgba(169,191,179, 1);
}



.hide-menu {
  position: absolute;
  top: 52px;
  left: 200px;
  width: 145px;
  background-color: #f8f7f4;
  border-radius: 10px;
  display: none;
}
.hide-menu > span {
  color: black;
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(209,208,206, 0.5);
  font-weight: 700;

}
.ul_catalog  {
  list-style: none;
  padding: 0;
}
.ul_catalog > li {
  padding-bottom: 10px;
  padding: 10px 20px;
}
.ul_catalog > li > a {
  color: black;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.hide-menu li:last-of-type {
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}
.hide-menu li:hover {
  background: #fbded7;
}
.hide-menu li:active {
  background: #f6b5a5;
}

.catalog_li:hover .hide-menu {
  display: block;
}






.user-block {
 float: right;
 margin-top: 30px;
 display: flex;
 margin-right: 25px;
}

.user-block  a {
  border-radius: 100px;
  height: 32px;
  margin-right: 3px;
  color: #ffffff;
  text-decoration: none;
}
.user-search {
  width: 32px;
}

.user-search::before {
  content: "";
  display: table;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/search.png") no-repeat;
  right: 286px;
  top: 37px;
  vertical-align: middle;
}
a.user-search:hover::before {
  content: "";
  display: table;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../img/hide-search.png") no-repeat;
  right: 276px;
  top: 30px;
  vertical-align: middle;
}

.user-login {
  width: 90px;
  margin-left: 8px;
}
.user-login span {
  padding-left: 40px;
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding-top: 8px;

}
.user-login::before {
  content: "";
  display: table;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/enter.png") no-repeat;
  right: 237px;
  top: 36px;
  vertical-align: middle;
}
a.user-login:hover::before {
  content: "";
  display: table;
  position: absolute;
  width: 100px;
  height: 33px;
  background: url("../img/hide-enter.png") no-repeat;
  right: 137px;
  top: 36px;
  padding: 0 10px;
}
a.user-login:hover {
  color: #e9e8e5;
  background-color: #f8f7f4;
}

.user-cart {
  width: 115px;
  margin-left: 8px;
}
.user-cart span {
  display: block;
  padding-top: 8px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 42px;
}
.user-cart::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/basket.png") no-repeat;
    right: 137px;
    top: 37px;
    vertical-align: middle;
}

.hide-search {
   display: none;
   width: 340px;
   position: absolute;
   top: 65px;
   right: 275px;
   background-color: #f8f7f4;
   border-radius: 10px;
   min-height: 85px;
}
.user-search:hover .hide-search{
  display: block;
}
.form_search {
  padding: 20px 15px;
  position: relative;
}
.input_search {
  width: 280px;
  padding: 15px 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  color: black;
}
.label_search {      /* ВОТ ТУТ СТИЛИЗАЦИЯ СВЕРХУ */
  color: #72afe9;
  font-size: 12px;
  top: 5px;
  left: 20px;
  position: absolute;
  display: none;
}
.input_search:active .label_search {
  display: block;
}
.input_search:hover,
.input_email:hover,
.input_password:hover,
.input_delivery:hover,
.name_feedback:hover,
.email_feedback:hover {
  border: 1px solid gray;
}
.input_search:focus,
.input_email:focus,
.input_password:focus,
.input_delivery:focus,
.name_feedback:focus,
.email_feedback:focus {
  border: 1px solid #b4d3f2;
}

/*.slider::before {
  content: "";
  display: block;
  position: fixed;
  top: 13%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 1;
}*/
.hide-login {
  display: none;
  width: 280px;
  position: absolute;
  top: 66px;
  right: 175px;
  background-color: #f8f7f4;
  border-radius: 10px;
  min-height: 215px;
  z-index: 2;
}
.hide-login-show {
  display: block;
}
.user-login_div:hover .hide-login {
  display: block;
}
.form_login {
  padding: 20px 15px;
}
.input_email,
.input_password {
  width: 220px;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  padding: 13px 13px;
  border-radius: 10px;
  border: 1px solid #d3d3d2;
  color: black;
}
.span_email {
  color: #72afe9;
  font-size: 12px;
  top: 5px;
  left: 20px;
  position: absolute;
  display: none;
}
.unput_email:active {
  display: block;
}

.registration {
  float: right;
  width: 125px;
}
.btn_login {
  font-size: 18px;
  line-height: 24px;
  min-height: 45px;
  width: 100px;
  border: none;
  color: #ffffff;
}
.registration > a {
  color: black;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
}

.work-header {
 position: absolute;
 width: 200px;
 height: 40px;
 top: 75px;
 right: 20px;
}
.work-time_header {
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
  margin-left: 18px;
  margin-bottom: 5px;
}
.work-number_header {
  font-size: 22px;
  line-height: 24px;
}


main {
  margin-top: 70px;
}
.breadcrumbs li{
  position: relative;
}
.ul_breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.breadcrumbs li:not(:last-child):after {
  content: "»";
  display: table;
  position: absolute;
  top: 0;
  right: -13px;
}

.ul_breadcrumbs li {
   margin-right: 20px;
 }
.ul_breadcrumbs li:not(:last-of-type) a {
  border-bottom: 2px solid rgba(169,191,179, 0.5);
}
h2 {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 30px;
  font-weight: 600;
}
.choose {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.sort {
  margin-left: 15px;
  font-size: 14px;
  line-height: 16px;
}

select {
  width: 170px;
  margin-top: 5px;
  color: black;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 5px;
  border-radius: 30px;
  background-color: #a9bab0;
}
.price {
  margin-left: 15px;
  font-size: 14px;
  line-height: 16px;
}
.input[type="range"] {
  width: 50px;
  margin-top: 5px;
  color: black;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 5px;
  border-radius: 30px;
  background-color: #a9bab0;
}



.choose-fat {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  width: 400px;
  position: relative;

}

.choose-fat span {
  width: 400px;
}
 .choose-fat label {
   margin-right: 25px;
   z-index: 2;
 }


.inside {
  margin-top: 20px;
  font-size: 14px;
}
input[type="checkbox"] {
  margin-right: 5px;
  font-size: 1  px;
  z-index: 99;
}
.choose-fat::after {
  content: "";
  display: table;
  position: absolute;
  top: 25px;
  right: 40px;
  width: 300px;
  height: 30px;
  border-radius: 30px;
  z-index: 1;
}
input[type="submit"] {
  padding-left: 5px;
  min-height: 35px;
  background: #a6b7ae;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 140px;
  text-align: center;
}





.catalog-preview {
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  width: 267px;
  min-height: 330px;
  margin-top: 40px;
  margin-right: 20px;
  position: relative;
}
.catalog-item:nth-of-type(4n) {
  margin-right: 0;

}
.catalog-item__image {
position: relative;

}
p.about-icecream {
  margin-top: 15px;
  text-align: center;
  line-height: 22px;

}
span.price {
  position: absolute;
  top: 210px;
  font-size: 45px;
}

.img_ice {
  border-radius: 135px;
}
.hide-block {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 405px;
  padding-bottom: 20px;
  border-radius: 15px;
  background: rgba(255,255,255, 0.4);

}
article:hover .hide-block {
  display: flex;
}
.catalog__btn {
  min-width: 190px;
  text-align: center;
  background: #e84e37;
  border-radius: 18px;
  font-size: 18px;
  padding: 10px 15px;
  box-shadow: 0 2px 2px 0 #e64b36;
  background-image: linear-gradient(150deg, #f16743, #e84c36);
}


.paginator {
  margin-top: 100px;
  width: 215px;
  float: right;
  margin-bottom: 40px;
}
.paginator a {
  border-radius: 100px;
  padding: 5px 10px;
}
.paginator_checked {
  color: black;
  background-color: #ffffff;
}
.paginator a:hover {
  background-color: #9bafa3;
}
.paginator a:active {
  background-color: #ffffff;
  color: black;
}
.paginator .back {
  background-image: url("../img/pag-back.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
}
.paginator .next {
  background-image: url("../img/pag-next.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* ------- FOOTER -----------*/

.container-footer {
  display: flex;
  justify-content: center;
}
section.footer-social {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 150px;
  width: 450px;
  margin-left: -20px;
}
.footer-social img:hover {
  background-color: rgba(244,247,246, 0.3);
  border-radius: 100px;
}
ul.social li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.reference {
  margin-right: 67px;
}
.reference_nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  position: relative;
  list-style: none;
}
.reference_nav li {
  min-width: 140px;
  margin-bottom: 7px;
  margin-right: 10px;
  font-size: 13px;
  text-decoration: underline;
  line-height: 18px;
  font-size: 13px;
  line-height: 18px;
}

.reference_nav li:first-child {
  font-weight: bold;
}
.reference_nav a {
  color: #ffffff;
}
.reference_nav a:hover {
  color: #e4b69c
}
.reference_nav a:active {
  color: #e4b69c
}
.reference_nav span {
  display: block;
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 20px;
}
.copyright {
  min-width: 267px;
  margin-top: 17px;
  padding-left: 50px;
  text-align: center;
  margin-right: 5px;
}
.copyright img {
  margin-right: 38px;
}
.copyright > p {
  font-size: 12px;
  margin-left: 35px;
  margin-top: 1px;
}
.copyright a {
  color: #ffffff;
}
.copyright a:hover {
  color: #e4b69c;
}
.copyright a:active {
  color: #e4b69c;
}
